@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-icon-button:hover {
   background-color: mat-color($mat-light-theme-background, hover);
 }
 
html, body{
    height:100%;
    font:500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin:0;
}

.background-image {
    background-image: linear-gradient(rgba(200, 200, 200, 0.8),rgba(200, 200, 200, 0.8)), url("~src/assets/hogs.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.large-background{
    background-size: cover;
}

.medium-background{
    background-size: cover;
}

.small-background{
    background-size: cover;
}

.center{
    margin: 0 auto;
    text-align: center;
}