.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 20px;
    margin: 10px 0;
    flex: 0 1 25%;
}

.features {
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: white;
}

mat-grid-tile {
    background: white;
}
