<div class="center features">
    <h2>Features</h2>
    <section class="cards">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Responsive Design</mat-card-title>
                <mat-card-subtitle>Media Queries and CSS</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Use [ngClass] combined with media queries built into Angular's BreakpointObserver to determine the 
                    appropriate CSS class for the 
                    device.
                </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Material Components</mat-card-title>
                <mat-card-subtitle>Angular Material Design</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Commonly used Material design modules are imported and ready to use along with a prebuilt Material theme to help with your UI/UX and color scheme.
                </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Navigation Boilerplate</mat-card-title>
                <mat-card-subtitle>Toolbar and Hamburger Mobile Nav</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Easy to build upon Navigation setup for mobile and desktop.
                </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Basic NodeJS Server</mat-card-title>
                <mat-card-subtitle>Backend Setup with Mock Database</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Basic NodeJS, Express, and Json Server setup for middle-tier and backend. 
                    Develop a simple website or extend the template for a full-scale MEAN stack web application.
                </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </section>
</div>


<!-- Mat Card Example 
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->